@using Core.Dto
@using WebApp.Tools

@inject IJsLogger<TodoComponent> Logger
@inject TodoServiceFacade TodoServiceFacade

@if (_todoDto == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="list-group">
        <div class="list-group-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@_todoDto.Title</h5>
                <small>@_todoDto.CreatedAt.ToFrenchDate()</small>
            </div>
            <p class="mb-1">@_todoDto.Description</p>
        </div>
        <div class="list-group-item" aria-current="true">
            <ul class="list-group list-group-flush">
                @foreach (var item in _todoDto.Items.OrderBy(i => i.CreatedAt))
                {
                    <li class="list-group-item list-group-item-action">
                        <SwipingComponent OnSwipe="OnSwipe" Data="item.Id">
                            <div class="d-flex flex-row w-100 justify-content-between">
                                <div>
                                    @item.Title
                                </div>
                                <div @onclick="() => CheckItem(item.Id)">
                                    @if (item.IsCompleted)
                                    {
                                        <span class="badge bg-success rounded-pill">
                                            <i class="bi bi-check2-circle"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-warning rounded-pill">
                                            <i class="bi bi-circle"></i>
                                        </span>
                                    }
                                </div>
                            </div>
                        </SwipingComponent>
                    </li>
                }
                <li class="list-group-item list-group-item-action">
                    <div class="d-flex flex-row w-100 justify-content-between">
                        <input type="text" class="form-control w-75" @bind="_newItem" @onkeydown="@KeyHandler" />
                        <button type="button" class="btn btn-primary" @onclick="AddNewItem">
                            <i class="bi bi-file-earmark-plus"></i>
                        </button>
                    </div>

                </li>
            </ul>
        </div>
    </div>
}

@code {
    [Parameter] public Guid Id { get; set; }

    private TodoDto? _todoDto;
    private List<ItemDto>? _items;
    private string? _newItem;

    protected override async Task OnParametersSetAsync()
    {
        await OnLoad();
    }

    private async Task OnLoad()
    {
        _todoDto = await TodoServiceFacade.GetAsync(Id);
        _items = _todoDto?.Items;
        await Logger.LogInformation("Todo loaded");
    }

    private async Task KeyHandler(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Logger.LogInformation("Enter key pressed");
            await Logger.LogInformation("New item: " + _newItem);
            await AddNewItem();
        }
    }

    private async Task OnSwipe(SwipeResult result)
    {
        if (result.Data != null && Guid.TryParse(result.Data.ToString(), out Guid itemId))
        {
            // if (result.Direction is SwipeDirection.Right)
            // {
            //     await Logger.LogInformation("right");
            //     await CheckItem(itemId);
            // }
            if (result.Direction is SwipeDirection.Left)
            {
                await Logger.LogInformation("left");
                await DeleteItem(itemId);
            }
        }
        else
        {
            await Logger.LogError("Item id is not a valid");
        }
    }

    private async Task AddNewItem()
    {
        if (_todoDto != null)
        {
            if (_newItem != null)
            {
                var newItem = new CreateItem(
                _newItem,
                null,
                null,
                _todoDto.Id
                );
                var itemDto = await TodoServiceFacade.CreateItemAsync(newItem);
                _todoDto?.Items.Add(itemDto);
                _items = _todoDto?.Items;
                _newItem = null;
                await Logger.LogInformation("New item added");
            }
            else
            {
                await Logger.LogWarning("New item title is missing");
            }
        }

        StateHasChanged();
    }

    private async Task CheckItem(Guid itemId)
    {
        var item = _todoDto?.Items.FirstOrDefault(x => x.Id == itemId);
        if (item != null)
        {
            await TodoServiceFacade.CompleteItemAsync(item.TodoId, item.Id);

            var completedItem = item with { IsCompleted = !item.IsCompleted };
            _todoDto?.Items.Remove(item);
            _todoDto?.Items.Add(completedItem);
            _items = _todoDto?.Items;

            await Logger.LogInformation("Item checked");
        }

        StateHasChanged();
    }

    private async Task DeleteItem(Guid itemId)
    {
        await Logger.LogInformation("Item to delete: " + itemId);
        await TodoServiceFacade.DeleteItemAsync(Id, itemId);
        _todoDto?.Items.RemoveAll(x => x.Id == itemId);
        _items = _todoDto?.Items;
        await Logger.LogInformation("Item deleted");
        StateHasChanged();
    }
}